html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 90%;
    padding: 7% 5%;
    background: rgba(45, 45, 45, 0.9);
}

.wrapp {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.groupWrapp {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 20;
}

.groupWrapp div {
    border: .5px solid rgba(0,0,0,0.3);
    flex: 1;
    border-radius: 3px;
    background: #bbb;
    font-size: 14px;
    overflow: hidden;
}

.gridWrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 80;
}

.taskWrapp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gridWrapp ul {
    flex-direction: row;
    display: flex;
    flex: 1;
    line-height: 0;
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gridWrapp ul li {
    flex: 1;
    border: .5px solid rgba(0,0,0,0.1);
    border-radius: 1.5px;
}

.liTrue { background: rgba(108, 180, 255, 1); }

.liFalse { background: rgba(255, 67, 89, 0.8); }
