html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 90%;
  padding: 12.5% 5% ;
  background: rgba(45, 45, 45, 0.9);
}


.wrapp {
  position: relative;
  display: flex;
  flex-direction: row;
  background: red;
  flex: 1;
}
.groupWrapp {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ccc;
  flex: 20;
}
.groupWrapp div {
  border: .5px solid rgba(0,0,0,0.6);
}
.gridWrapp {
  position: relative;
  display: flex;
  flex-direction: column;
  background: blue;
  flex: 80;
}
.gridWrapp ul {
  line-height: 0;
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.gridWrapp ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: orange;
  border: .5px solid rgba(0,0,0,0.1);
}
